<h3>{{filterName}}</h3>
<div class="radio">
    <label>
        <input type="radio"
        value="1"
        name="roomType"
        [(ngModel)]="roomType"
        (change)="onSelectRoom()"
        /> Deluxe Room
    </label>
    <label>
        <input type="radio"
        value="2"
        name="roomType"
        [(ngModel)]="roomType"
        (change)="onSelectRoom()"
        /> Premium Room
    </label>
    <label>
        <input type="radio"
        value="3"
        name="roomType"
        [(ngModel)]="roomType"
        (change)="onSelectRoom()"
        /> Travel Room
    </label>
    <label>
        <input type="radio"
        value="4"
        name="roomType"
        [(ngModel)]="roomType"
        (change)="onSelectRoom()"
        /> Semi Deluxe Room
    </label>
</div>