<div class="panel panel-primary">
    <div class="panel-heading">
        Profile Page
    </div>
    
    <div class="panel-body">
        <button class="btn btn-danger" (click)="logout()">LogOut</button>
        <div class="jumbotron">
            <h1>Hi {{userInfo.name}}</h1>
            <p>Your Role is {{userInfo.role}}</p>
        </div>
        <h2>You have Permission to
            {{userInfo.role === "Admin" ? "Can go to admin page":"View Your Profile"}}
        </h2>

        <div *ngIf="userInfo.role === 'Admin'">
            <a class="btn btn-success"
            [routerLink]="['/admin']">
                Admin
        </a>
        </div>
    </div>

</div>