<div>
    <div class="quickSearchContainer">
        <p class="quickSearchHeading">
            Quick Search
        </p>
        <p class="quickSearchSubHeading">
            Discover Trip By Type
        </p>
        <br/>
        <a>
            <div class="tileContainer">
                <div class="tileComponent1">
                    <img />
                </div>
                <div class="tileComponent2">
                    <div class="componentHeading">
                        Heading
                    </div>
                    <div class="componentSubHeading">
                        Sub Heading
                    </div>
                </div>
            </div>
        </a>
        
    </div>
</div>