<br/>
<div class="panel panel-primary">
    <div class="panel-heading">
        Register Form
    </div>
    <div class="panel-body">
        <form #form="ngForm" (submit)="submitForm(form)">
            <div class="form-group" [class.has-error]="firstname.invalid">
                <label class="control-label">
                    Name
                </label>
                <input type="text" 
                       class="form-control" 
                       name="name"
                       required
                       [(ngModel)] = "myUser.name"
                       #firstname="ngModel"
                />
            </div>
            <div class="alert alert-danger" *ngIf="firstname.invalid">
                FirstName is required
            </div>
            
            <div class="form-group" [class.has-error]="email.invalid && email.touched">
                <label class="control-label">
                    Email
                </label>
                <input type="text" 
                       class="form-control" 
                       name="email"
                       required
                       [(ngModel)] = "myUser.email"
                       pattern="^([a-zA-Z0-9]+)@([a-zA-Z0-9]+)\.([a-zA-Z]{2,5})$"
                       #email="ngModel"
                />
            </div>
            <div class="alert alert-danger" *ngIf="email.invalid && email.touched">
                Please Enter Valid is required
            </div>

            <div class="form-group" [class.has-error]="pwd.invalid && pwd.touched">
                <label class="control-label">
                    Password
                </label>
                <input type="password" 
                       class="form-control" 
                       name="password"
                       required
                       [(ngModel)] = "myUser.password"
                       minlength = "8"
                       #pwd="ngModel"
                />
            </div>
            <div class="alert alert-danger" *ngIf="pwd.invalid && pwd.touched">
               Min Length is 8
            </div>

            <button type="submit" class="btn btn-success">
                Register
            </button>
        </form>
    </div>
</div>